<ion-content>
  <div class="latarlogin">
    <br>
    <br>
    <br>
      <img align ="center"><img src="assets/icon/logo1.png" class="smallLogo"/></img>
    <h1 id="text1">Sign Up</h1>
  
	<ion-card>
      <ion-item class="ion-padding"> 
          <ion-label position="stacked">
			Username
          </ion-label>
          <hr>
        <div class="kotakUsername">
          <ion-input type="text" [(ngModel)]="user.email"></ion-input>
        </div>
          <ion-label
            position="stacked">Password
          </ion-label>
          <hr>
        <div class="kotakUsername">
          <ion-input type="password" [(ngModel)]="user.password"></ion-input>
        </div>
        <br>
	  </ion-item>
	</ion-card>  
    <ion-button expand="block" share="round" color="success" size="large" (click)="onRegister()">Register</ion-button>
      <ion-item lines='none'>
          Already have account ? 
        <a routerLink='/login'>Login</a>
      </ion-item>
  </div>
</ion-content>
